body {
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    background-image: url("background.jpg");
    background-size: cover;
}

main {
    position: relative;
    line-height: 0.9;
}

nav {
    font-family: 'Oswald', sans-serif;
    display: inline-block;
    height: 80px;
    width: 100%;
    margin-top: 10px;
    text-align: center;
    background-image: radial-gradient(#D298D0 20%, #773DBC 200%);
    box-shadow: 0 2px 30px rgb(54, 54, 54);
}

.nav {
    font-family: 'Oswald', sans-serif;
    margin-top: 30px;
    display: inline-flex;
    align-content: center;
}

.nav-cart {
    font-family: 'Oswald', sans-serif;
    float: left;
}

.nav a {
    font-family: 'Oswald', sans-serif;
    font-weight: 700;
    font-size: x-large;
    margin-right: 50px;
    text-transform: uppercase;
    text-decoration: none;
    color: #ffe06e;
}

.button{
    font-family: 'Oswald', sans-serif;
    font-weight: 900;
    margin-top: 15px;
    margin-left: 20px;
    position: relative;
    background-color: #addafe;
    border-radius: 4em;
    border-color: #769ffe;
    font-size: 16px;
    color: #c78dce;
    padding: 0.8em 1.8em;
    cursor:pointer;
    user-select:none;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    transition-duration: 0.4s;
}

.button:hover {
    transition-duration: 0.1s;
    background-color: #83aac9;
}

.button:after {
    content: "";
    display: block;
    position: absolute;
    border-radius: 4em;
    left: 0;
    top:0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: all 0.5s;
    box-shadow: 0 0 10px 40px white;
}

.button:active:after {
    box-shadow: 0 0 0 0 white;
    position: absolute;
    border-radius: 4em;
    left: 0;
    top:0;
    opacity: 1;
    transition: 0s;
}

.button:active {
    top: 1px;
}

.total {
    font-family: 'Oswald', sans-serif;
    margin-left: 20px;
    color: #ffe06e;
    font-weight: 900;

}

.itemsCount {
    font-family: 'Oswald', sans-serif;
    margin-left: 20px;
    color: #ffe06e;
    font-weight: 900;
}

.logo {
    text-align: center;
    margin-top: 100px;
    margin-bottom: 100px;
}

.shop-name {
    font-family: 'Oswald', sans-serif;
    font-size: 50px;
    color: #addafe;
}

.cos {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    text-align: center;
    width: 33.33%;
}

.product {
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
    gap: 20px;
}

.price {
    font-family: 'Oswald', sans-serif;
    font-size: 30px;
    color: #ffe06e;
    font-weight: bold;
}

.name {
    font-family: 'Oswald', sans-serif;
    font-size: 30px;
    color: #addafe;
}

.product__add-to-cart{
    font-family: 'Oswald', sans-serif;
    font-size: 20px;
    font-weight: 900;
    position: relative;
    background-color: #cb574f;
    border-radius: 4em;
    border-color: #cb3a32;
    color: #addafe;
    padding: 0.8em 1.8em;
    cursor:pointer;
    user-select:none;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    transition-duration: 0.4s;
    -webkit-transition-duration: 0.4s; /* Safari */
}

.product__add-to-cart:hover {
    transition-duration: 0.1s;
    background-color: #4a3d3d;
}

.product__add-to-cart:after {
    content: "";
    display: block;
    position: absolute;
    border-radius: 4em;
    left: 0;
    top:0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: all 0.5s;
    box-shadow: 0 0 10px 40px white;
}

.product__add-to-cart:active:after {
    box-shadow: 0 0 0 0 white;
    position: absolute;
    border-radius: 4em;
    left: 0;
    top:0;
    opacity: 1;
    transition: 0s;
}

.product__add-to-cart:active {
    top: 1px;
}

.images {
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    align-content: flex-start;
    margin-top: 50px;
    gap: 200px;
}

.image {
    border-radius: 10%;
    transition: 1s;
}

.image:hover {
    transform: scale(1.2);
    z-index: 2;
}

.header-ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.footer-ul {
    list-style-type: none;
}

li {
    font-family: 'Oswald', sans-serif;
    text-decoration: none;
    font-size: 20px;
    color: #addafe;
    margin-left: 20px;
}

.footer-header {
    font-family: 'Oswald', sans-serif;
    font-size: 25px;
    font-weight: 900;
    color: #ffe06e;
}

.media {
    color: #addafe;
    font-family: 'Oswald', sans-serif;
    font-size: 20px;
}

a {
    text-decoration: none;
    color: #addafe;
}

.footer {
    float: left;
    width: 33.33%;
}

footer {
    margin-top: 50px;
    margin-bottom: 20px;
    line-height: 1.5;
    display: inline-flex;
    font-family: 'Oswald', sans-serif;
    height: 180px;
    background-image: radial-gradient(#D298D0 20%, #773DBC 200%);
    box-shadow: 0 2px 30px rgb(54, 54, 54);
}



